[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"
python_full_version = "3.6.5"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-basicauth = "*"
requests = "==2.13.0"
gevent = "*"
uwsgi = "*"

[dev-packages]
flask-debugtoolbar = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
codacy-coverage = "*"
codecov = "*"
