[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "aliyun"

[requires]
python_version = "3.6"
python_full_version = "3.6.5"

[packages]
flask = "*"
flask-webpack = "*"
flask-wtf = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
"psycopg2-binary" = "*"
mysqlclient = "*"
flask-migrate = "*"
flask-httpauth = "*"
flask-compress = "*"
flask-admin = "*"
whitenoise = "*"
celery = "==3.1.25"
raven = {extras = ["flask"], version = "*"}
arrow = "*"
requests = "*"
gevent = "*"
uwsgi = "*"

[dev-packages]
flask-debugtoolbar = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
codacy-coverage = "*"
codecov = "*"
