{% extends "security/_auth_base.html" %}

{% block content %}

    <section class="login-form">

        <form class="form" action="{{ url_for_security('send_confirmation') }}" method="post" role="form" name="send_confirmation_form">
            {{ send_confirmation_form.hidden_tag() }}
            {{ wtf.form_field(send_confirmation_form.email, placeholder="Email", class="form-control input-lg") }}
            {{ wtf.form_field(send_confirmation_form.submit, value="Resend Confirmation Email", class='btn btn-lg btn-primary btn-block') }}

            {% include "security/_menu.html" %}
        </form>
    </section>
{% endblock %}