{% extends "base.html" %}

{% block styles %}

    {{ super() }}
    <link href="{{ url_for('static', filename='login.css') }}" type="text/css" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="container">
        <section class="login-form">
            <form class="form" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username, placeholder="Username", class="form-control input-lg") }}
                {{ wtf.form_field(form.password, placeholder="Password", class="form-control input-lg") }}
                {{ wtf.form_field(form.remember) }}
                {{ wtf.form_field(form.submit, class='btn btn-lg btn-primary btn-block') }}
            </form>
        </section>
    </div>

{% endblock %}