/* Remove body top padding since header exists. */
body {
    padding-top: 0;
}

/* Remvoe top margin of page header. */
body .page-header {
    margin-top: 0;
}

/* Add bottom margin of nav-tabs. */
.nav-tabs {
    margin-bottom: 30px;
}

/* Add left and right padding of table to along with card-title. */
.table > tbody > tr > td:nth-of-type(1),
.table > thead > tr > td:nth-of-type(1){
    padding-left:20px;
}

.table > tbody > tr > td:nth-last-of-type(1),
.table > thead > tr > td:nth-last-of-type(1){
    padding-right:20px;
}

/* Make table font smaller and remove bottom margin. */
.table {
    font-size: 15px;
    margin-bottom: 0;
}

/* Remove white space in dropdown menu */
.btn-group > .dropdown-menu {
    margin-top: 0;
}
