body {
    padding-top: 20px;
}

.container-fluid {
    padding-right: 40px;
    padding-left: 40px;
}


@media (min-width: 768px) {

    .navbar-fixed-top {
        padding-left: 21px;
        padding-right: 21px;
    }
}
